/* Typography */

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.icons-social i {
  font-size: 3em;
}

/* Custom Styles */

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  height: 0;
  padding: 0 30px;
  text-align: center;
  background-color: transparent;
}
main > .intro {
  font-family: "Reem Kufi", sans-serif;
  font-size: 3.75em;
  font-weight: 600;
  background-color: transparent;
}
main > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
  background-color: transparent;
}

/*Verticle Lines*/

main > .vl {
  width: 2px;
  height: 90px;
  background-color: rgb(30, 30, 30);
  margin: 0px auto;
  position: fixed;
  left: 86px;
  bottom: 0;
}
main > .vl-r {
  width: 2px;
  height: 90px;
  background-color: rgb(30, 30, 30);
  margin: 0px auto;
  position: fixed;
  right: 86px;
  bottom: 0;
}

/*Email Placement*/

.email_ver {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", "Monaco", monospace;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  position: fixed;
  right: 80px;
  bottom: 110px;
  color: black;
  font-size: 12px;
  /*transition: all .3s ease-in-out;*/
}

/* Icons */

.icons-social i {
  padding: 10px;
  /*transition: all .3s ease-in-out;*/
}
.devto {
  margin-bottom: -0.2rem;
}
.devto svg {
  margin-bottom: -0.2rem;
  margin-left: 0.675rem;
  width: 2.65rem;
  height: 2.65rem;
}

/*Menu*/

ul {
  position: fixed;
  right: 80px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  float: right;
  top: 0px;
  font-size: 14px;
}
li {
  float: right;
}
li a {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", "Monaco", monospace;
  display: block;
  color: #242424;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  float: right;
  top: 0px;
  text-transform: uppercase;
}

/*STICKY HEADER*/
.menu {
  padding: 10px 16px;
  background: transparent;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*Anchor link*/
