/* Theme */

main {
	background: #485564;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.vr {
	fill: #FAFAFA;
}

.vr-top {
	fill: #FAFAFA;
}

.email_ver {
	fill: #FAFAFA;
}