/* Theme */

main {
	background: #FAFAFA;
	color: #0277BD;
}

.icons-social a {
	color: #0277BD;
}

.icons-social a svg path{
	fill: #0277BD;
}

.vr {
	fill: #0277BD;
}

.vr-top {
	fill: #0277BD;
}

.email_ver {
	fill: #0277BD;
}